@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.app {
  background-color: #f4f4f4;
}

footer {
  background-color: gray;
  text-align: center;
  color: white;
  padding: 5% 1%;
  text-transform: capitalize;
}
