@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

table {
  padding-left: 5%;
  font-size: 0.7em;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 3em;
  margin: 2% 1%;
  border: 0.5x solid #2a2a2a;
  background-color: white;
  color: black;
  width: 98%;
  line-height: 1.6em;
  a {
    color: inherit;
  }
}

.table__opening__text {
  background-color: white;
  padding: 0;
  p {
    padding: 0 5%;
  }
}

thead {
  background-color: #77a2fc;
  color: white;
}

.LeagueTable {
  text-align: center;
  h2 {
    padding-top: 5%;
  }
  label {
    margin-right: 1em;
  }
  select {
    color: black;
    border: 1px solid white;
    border-radius: 1em;
    padding: 10px 5px 10px 15px;
  }
}
