@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

table {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 2% 1% 4% 1%;
  border: 0.5x solid #2a2a2a;
  background-color: white;
  color: black;
  width: 98%;
  line-height: 1.6em;
  a {
    color: inherit;
  }
}

thead {
  background-color: rgb(223, 223, 223);
}

.LeagueTable {
  // background-image: url('https://papers.co/wallpaper/papers.co-nn97-soccer-field-city-night-light-dark-1-wallpaper.jpg');
  // background-repeat: no-repeat;
  // background-size: cover;
  background-color: #e7ffda;
  height: 100vh;
  text-align: center;
  color: 3a3a47;
  h2 {
    margin-top: 4%;
  }
  label {
    margin-right: 1em;
  }
  select {
    color: black;
    border: 1px solid white;
    border-radius: 1em;
    padding: 2px;
  }
}
