@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

table {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 2% 1% 4% 1%;
  border: 1px solid #2a2a2a;
  border-radius: 2rem;
}
