.blog__container {
  .blog__description {
    margin: 5%;
    color: white;
    text-align: center;
    button {
      padding: 10px 25px;
      background-color: #008f0b;
      border-radius: 0.5em;
      margin-top: 5%;
      color: white;
      border: none;
    }
    h1 {
      text-align: left;
    }
    h5 {
      text-align: justify;
    }
  }
}

.field {
  color: white;
}
