.home {
  background-image: url('https://s3.ap-south-1.amazonaws.com/hsdreams1/pins/2019/04/big/599e46f81be9091e4158620d8805aa3e.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: opacity(80%);
  .home__text {
    width: 70%;
    margin-top: 50%;
    margin-left: 3%;
    p {
      margin-top: 40%;
    }
  }
}

@media only screen and (min-width: 700px) {
  .home {
    background-image: url('https://images.unsplash.com/photo-1518604666860-9ed391f76460?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: opacity(80%);
    .home__text {
      width: 60%;
      margin-top: 20%;
      margin-left: 3%;
      p {
        margin-top: 5%;
      }
    }
  }
}
