.teamBanner {
  height: 15vh;
  margin-bottom: 3vh;
}

.teamBadge {
  width: 25vh;
  height: 25vh;
  margin: 3vh 0vh;
}

.teamJersey {
  width: 35vh;
  height: 35vh;
  margin: 3vh 0vh;
}

.stadiumImage {
  height: 35vh;
  margin: 3vh 0vh;
}

// Links

.links {
  display: flex;
  flex-direction: row;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.website {
  width: 7vh;
  height: 7vh;
}
