@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.Club {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f4f4f4;
  line-height: 1.5em;
  .stadiumImage {
    width: 100%;
    margin: 4% 1%;
  }
}
.teamBanner {
  margin-bottom: 3vh;
  height: 10vh;
}

.badgeandjersey {
  display: flex;
  flex-direction: row;
  margin: 4% 1%;
  .teamBadge {
    width: 50%;
  }
  .teamJersey {
    width: 50%;
  }
}

article {
  margin: 0 5%;
  text-align: justify;
}

// Links

h4 {
  font-weight: bold;
}

.links {
  display: flex;
  flex-direction: row;
  margin: 4% 1%;
}

.website {
  width: 5vh;
  height: 5vh;
}
