@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.Club {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f4f4f4;
  line-height: 1.5em;
  .stadiumImage {
    width: 100%;
    margin: 4% 1%;
  }
}
.teamBanner {
  margin-bottom: 3vh;
  height: 10vh;
}

.badgeandjersey {
  display: flex;
  flex-direction: row;
  margin: 4% 1%;
  .teamBadge {
    width: 50%;
  }
  .teamJersey {
    width: 50%;
  }
}

article {
  margin: 4% 5%;
  text-align: justify;
  h5 {
    text-decoration: underline;
  }
  button {
    color: #308dff;
    justify-content: right;
  }
}

// .commentList {
//   margin-top: 4vh;
//   border: 1px solid gray;
//   background-color: white;
//   border-radius: 2em;
//   text-align: left;
//   li {
//     list-style: none;
//   }
// }

.center {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}
// Links

h4 {
  font-weight: bold;
}

.commentInputBox {
  margin: 0px 2%;
  h6 {
    text-align: left;
  }
}

.links {
  display: flex;
  flex-direction: row;
  margin: 4% 1%;
}

.website {
  width: 5vh;
  height: 5vh;
}
